# Python
__pycache__/
*.pyc
.venv/
.env

# OS / IDE
.DS_Store
.idea/
.vscode/

# Helm
charts/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
*.tfvars
*.tfvars.json

# kubeconfig
kubeconfig*
