replicaCount: 1
image:
  repository: 879794963746.dkr.ecr.us-east-1.amazonaws.com/inference-api
  tag: v7
  pullPolicy: IfNotPresent
service:
  name: inference-api
  type: ClusterIP
  port: 80
  targetPort: 8080
env:
  LOG_LEVEL: INFO
  # Later (when MLflow is deployed):
  # MLFLOW_TRACKING_URI: http://mlflow.application.svc.cluster.local:5000
  # MODEL_NAME: iris_rf_model
  # MODEL_STAGE: Production
# If/when you have a Kubernetes Secret with MLflow creds, enable this:
extraEnvFrom: []
#  - secretRef:
#      name: mlflow-secrets

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/metrics"
  prometheus.io/port: "8080"
resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"
livenessProbe:
  httpGet:
    path: /health
    port: 8080
  initialDelaySeconds: 10
  periodSeconds: 20
readinessProbe:
  httpGet:
    path: /health
    port: 8080
  initialDelaySeconds: 5
  periodSeconds: 10
