apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
stringData:
  POSTGRES_DB: {{ default "mlflow" .Values.postgres.db | quote }}
  POSTGRES_USER: {{ default "mlflow" .Values.postgres.user | quote }}
  POSTGRES_PASSWORD: {{ required "Set postgres.password in values.yaml (or --set postgres.password=...)" .Values.postgres.password | quote }}
