apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: observability-prometheus
  namespace: infra-tools
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: observability
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: prometheus
    targetRevision: 25.27.0
    helm:
      valuesObject:
        alertmanager:
          enabled: false

        kubeStateMetrics:
          enabled: false

        nodeExporter:
          enabled: false

        pushgateway:
          enabled: false        

        server:
          persistentVolume:
            enabled: false
          resources:
            requests:
              cpu: 25m
              memory: 192Mi
            limits:
              cpu: 150m
              memory: 384Mi

        serverFiles:
          prometheus.yml:
            scrape_configs:
              - job_name: 'kubernetes-pods-annotated'
                kubernetes_sd_configs:
                  - role: pod
                relabel_configs:
                  - action: keep
                    source_labels: [__meta_kubernetes_namespace]
                    regex: serving
                  - action: replace
                    source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
                    target_label: __metrics_path__
                    regex: (.+)
                  - action: replace
                    source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
                    regex: ([^:]+)(?::\d+)?;(\d+)
                    replacement: $1:$2
                    target_label: __address__
                  - action: replace
                    source_labels: [__meta_kubernetes_namespace]
                    target_label: namespace
                  - action: replace
                    source_labels: [__meta_kubernetes_pod_name]
                    target_label: pod
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
